main {
    background: #000;
    color: #ccc;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
main h1 {
    margin: 0 0 20px;
    font-size: 100px;
    font-weight: normal;
    text-align: center;
    color: #4caf50;
}
main p::first-letter{
    -webkit-initial-letter: 4;
    initial-letter: 4;
    color: orange;
    font-weight: bold;
    margin-right: .75em;
}
main p {
    margin: 0;
    font-size: 20px;
}
